@import "../../../styles/colors";

.panel-header {
  display: block;
  background-color: $teal;
  color: white;
  padding: 1rem;
}

.panel-header > img {
  float: left;
}

.panel {
  padding: 1rem;
  background-color: white;
}
