@import "../../../styles/colors";

:host {
  display: block;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.panel-header {
  display: block;
  background-color: $teal;
  color: white;
  padding: 1rem;
}

.panel-header > img {
  float: left;
}

.panel {
  padding: 1rem;
  background-color: white;
}
