<app-panel>
  <div panelHeader class="flex flex-center-vh">
    <span>Recent Transactions</span>
  </div>
  <div panelContent class="stack">
    <div class="with-sidebar-right">
      <div>
        <label aria-label="Search">
          <input
            (input)="filterRecentTransactions($event.target.value)"
            placeholder="Search by typing..."
            type="text" />
        </label>
      <div class="filter-settings">
        <label>Sort by</label>
        <button class="filter-button" (click)="sortRecentTransactions('date', 'asc')">DATE</button>
        <button class="filter-button" (click)="sortRecentTransactions('beneficiary', 'asc')">BENIFICIARY</button>
        <button class="filter-button" (click)="sortRecentTransactions('amount', 'asc')">AMOUNT</button>
      </div>
    </div>
  </div>
    <app-transaction-history-list [transactions]="recentTransactions$ | async"></app-transaction-history-list>
  </div>
</app-panel>
