<app-panel>
  <div panelHeader class="flex flex-center-vh">
    <span>Recent Transactions</span>
  </div>
  <div panelContent class="stack">
    <div class="with-sidebar-right">
      <div>
        <label aria-label="Search">
          <input
            (input)="filterRecentTransactions($event.target.value)"
            placeholder="Search by typing..."
            type="text" />
        </label>
      <div class="filter-settings">
        <app-transaction-sort (sort)="sortRecentTransactions($event)"></app-transaction-sort>
      </div>
    </div>
  </div>
    <app-transaction-history-list [transactions]="recentTransactions$ | async"></app-transaction-history-list>
  </div>
</app-panel>
