.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: 1rem;
}

.with-sidebar-right {
  overflow: hidden;
}

.with-sidebar-right > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(1rem / 2 * -1);
}

.with-sidebar-right > * > * {
  margin: calc(1rem / 2);
  flex-grow: 1;
}

.with-sidebar-right > * > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 1rem);
}

.with-sidebar-left {
  overflow: hidden;
}

.with-sidebar-left > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(1rem / 2 * -1);
}

.with-sidebar-left > * > * {
  margin: calc(2rem / 2);
  flex-grow: 1;
}

.with-sidebar-left > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(60% - 1rem);
}

.transfer-container {
  min-width: 300px;
}
