@import "../styles/colors";

:host {
  min-width: 300px;
}

button {
  background-color: $orange;
  border-radius: 2px;
  color: white;

  &[disabled] {
    background-color: lighten($orange, 15%);
  }
}

label {
  display: flex;
  flex-direction: column;
}
