@import "../styles/colors";

:host {
  min-width: 300px;
}

button {
  background-color: $orange;
  border-radius: 2px;
  color: white;
  transition: 100ms ease-in;

  &[disabled] {
    background-color: lighten($orange, 10%);
  }

  &:hover {
    background-color: darken($orange, 10%);
  }
}

label {
  display: flex;
  flex-direction: column;
}
