<label>Sort by</label>
<button
  [class.active]="sortOrder.field === 'date'"
  [ngClass]="{
    'asc': sortOrder.direction === 'asc',
    'desc': sortOrder.direction === 'desc'
  }"
  class="filter-button"
  (click)="updateSort('date')">
    DATE
</button>
<button
  [class.active]="sortOrder.field === 'beneficiary'"
  [ngClass]="{
    'asc': sortOrder.direction === 'asc',
    'desc': sortOrder.direction === 'desc'
  }"
  class="filter-button"
  (click)="updateSort('beneficiary')">
  BENEFICIARY
</button>
<button
  [class.active]="sortOrder.field === 'amount'"
  [ngClass]="{
    'asc': sortOrder.direction === 'asc',
    'desc': sortOrder.direction === 'desc'
  }"
  class="filter-button"
  (click)="updateSort('amount')">
  AMOUNT
</button>
