@import "styles/flex";
@import "styles/fonts";
@import "styles/layout";

* {
  box-sizing: border-box;
  font-family: 'Kanit-Regular', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  height: 100vh;
}

button {
  cursor: pointer;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0.5rem;

  &:focus {
    outline: none;
  }
}

input {
  border: 0;
  border-bottom: 1px solid gray;
  padding: 0.5rem 0;

  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

strong {
  font-family: 'Kanit-Bold', sans-serif;
}

::placeholder {
  font-family: 'Kanit-Light', sans-serif;
}
